
#login{
    width: 150px;
    height: 50px;
    margin-top: -30px;
    border-radius: 3px;
    font-weight: 600;
    border-color: transparent;
    font-size: 10px;
    background: rgb(242, 242, 240);
    color: black;
   cursor: pointer;
}